#num{
  width: 100%;
  text-align: center;
  font-size: 200px;
  color: red;


   }

.scorpion{

  background-image: url("http://i.imgur.com/xVOkdzL.gif");
  background-repeat:  no-repeat;
  background-position: 9px -1px;
  height: 144px;
  width: 90px;
  left: 0px;
  position: absolute;
}

body {
  background-image: url("http://i.imgur.com/1gUzzCo.png");
  background-size: 100%;
}



/* setTimeout clearTimeout */
/*an even trigger (keypress will cause the background position numbers to increase and decrease based on a function of some sort*/
















